label,
li{
  display: block;
  padding: 2em;
  background: gold;
  border-bottom: #fff 1px solid;
  font-family: sans-serif;
  letter-spacing: .05em;
  font-weight: bold;
}
li:hover,
label:hover{
  display: none;
}

li::before,
label::before{
  content:"";
  display:block;
  position:absolute;
  right:5%;
  width:.5em;
  height:.5em;
  border-top:#000 2px solid;
  border-left:#000 2px solid;
  transform:rotate(135deg);
}
input[type="checkbox"]{
  display:none;
}